@model IEnumerable<Login.Student>

@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<head>

    <script type="text/javascript" src="~/Scripts/jquery-3.7.1.js"></script>
    <script type="text/javascript" src="~/Scripts/datatables.min.js"></script>
    <link rel="stylesheet" href="~/Content/datatables.min.css">
    <link rel="stylesheet" href="~/Content/font-awesome-6.7.2.all.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap-icons.css" />

</head>
@*<style>
    table, th, td {
        border: 1px solid black;
    }

    table.table {
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        padding: 10px;
    }

    h2 {
        text-align: center;
    }

    .container {
        text-align: center;
        margin-top: 10px;
    }
</style>*@
<style>
    h2 {
        text-align: center;
    }


</style>
<body>
    <h2>Students List</h2>
    <table class="table" id="myTable">
        <thead>
            <tr>
                @*<th>ID</th>*@
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    @*<td>@student.roll_no</td>*@
                    <td>@student.name</td>
                    <td>
                        @Html.ActionLink(" ", "Update", new { id = student.roll_no }, new { @class = "fa fa-edit", title = "Update" })
                        @Html.ActionLink(" ", "Delete", new { id = student.roll_no }, new { @class = "fa fa-trash text-danger", title = "Delete" })
                    </td>
                </tr>
            }
        </tbody>

    </table>
    <br />
    <hr />
    <div class="container">
        <a href="@Url.Action("Create", "Student")" class="btn btn-outline-success"><i class="far fa-plus-square"></i> Add</a> |
        <a href="@Url.Action("Index", "Student")" class="btn btn-outline-success">View Students</a>
    </div>

    <script>
        $(document).ready(function () {
            $('#myTable').DataTable();
        });


    </script>
</body>

