@model IEnumerable<Login.Student>

@{
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
}
<style>
    table, th, td {
        border: 1px solid black;
    }

    table.table {
        margin-left: auto;
        margin-right: auto;
    }

    th, td {
        padding: 10px;
    }

    h2 {
        text-align: center;
    }

    .container {
        text-align: center;
        margin-top: 10px;
    }
</style>
<h2>Students List</h2>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Actions</th>
    </tr>
    @foreach (var student in Model)
    {
        <tr>
            <td>@student.roll_no</td>
            <td>@student.name</td>
            <td>
                @Html.ActionLink("Update", "Update", new { id = student.roll_no }) |
                @Html.ActionLink("Delete", "Delete", new { id = student.roll_no })
            </td>
        </tr>
    }
</table>
<br />
<hr />
<div class="container">
    <a href="@Url.Action("Create", "Student")">Add Student</a> |
    <a href="@Url.Action("Index", "Student")">View Students</a>
</div>
