@model Login.Staff

@{
    Layout = null;
}

@using (Html.BeginForm("Update", "Staff", FormMethod.Post, new { id = "staffForm" }))
{
    @Html.HiddenFor(m => m.id)

    <label>ID:</label>
    <input type="text" value="@Model.id" class="form-control" disabled />
    <br />
    <label>Name:</label>
    @Html.TextBoxFor(m => m.name, new { required = "required", @class = "form-control" })
    <br />
    <label>Designation:</label>
    @Html.TextBoxFor(m => m.designation, new { required = "required", @class = "form-control" })
    <br />
    <label>Salary:</label>
    @Html.TextBoxFor(m => m.salary, new { required = "required", @class = "form-control" })
    <br />
    <button type="submit" class="btn btn-primary">Update</button>
}


